.app{
  background-color: #9f5ebf;
}
.intro{
  background-image: url('https://www.cortexcopywriter.com/img/intro/Intro_Featured_Image_Empty.svg');
}
.heading{
  font-size: 100px;
  color: white;
  margin: 0px;
}
.heading2{
  font-size: 60px;
  margin: 0px;
  color: white;
}